*.pyc
.vscode
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
data
eval_result
tensorboard_3d
**/__pycache__/
events.out*
ckpt
release
# pixi environments
.pixi
# miyabi 
miyabi.md
*.pbs
pbs
logs